<h1>Todo</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">
        <span *ngIf="todoDescription.invalid">Enter proper description</span>
        <span *ngIf="todoDate.invalid">Enter proper date</span>
    </div>
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" #todoDescription="ngModel" name="description" required="required"
                [(ngModel)]="todo.description" minlength="5" />
        </fieldset>
        <fieldset class="form-group">
            <label>Target Date</label>
            <input type="date" class="form-control" #todoDate="ngModel" name="targetDate" required="required"
                [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" />
        </fieldset>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>